OpsMoi/bin/Debug/Dapper.xml
OpsMoi/bin/Debug/LiveCharts.WinForms.xml
OpsMoi/bin/Debug/LiveCharts.Wpf.xml
OpsMoi/bin/Debug/LiveCharts.xml
OpsMoi/bin/Debug/Microsoft.Data.Sqlite.xml
OpsMoi/bin/Debug/Microsoft.IO.RecyclableMemoryStream.xml
OpsMoi/bin/Debug/Newtonsoft.Json.xml
OpsMoi/bin/Debug/ObjectListView.xml
OpsMoi/bin/Debug/OpsMoi.exe.Config
OpsMoi/bin/Debug/opsmoidb.db
OpsMoi/bin/Debug/RestSharp.xml
OpsMoi/bin/Debug/System.Buffers.xml
OpsMoi/bin/Debug/System.Data.SQLite.xml
OpsMoi/bin/Debug/System.Diagnostics.DiagnosticSource.xml
OpsMoi/bin/Debug/System.Memory.xml
OpsMoi/bin/Debug/System.Numerics.Vectors.xml
OpsMoi/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
OpsMoi/bin/Debug/Resources/0.png
OpsMoi/bin/Debug/Resources/facebook2x.png
OpsMoi/bin/Debug/Resources/footer.png
OpsMoi/bin/Debug/Resources/Img3_2x.jpg
OpsMoi/bin/Debug/Resources/logo.png
OpsMoi/bin/Debug/Resources/snow icon.png
OpsMoi/bin/Debug/Resources/Up_pink.png
OpsMoi/bin/Debug/Resources/Welcome_Email.png
OpsMoi/bin/Debug/Resources/white_down.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1).zip
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(2).zip
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(3).zip
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(4).zip
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(5).zip
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(6).zip
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All.zip
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_cover_photo_1(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_cover_photo_1(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_cover_photo_1(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_cover_photo_1(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_cover_photo_1(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_cover_photo_1(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_cover_photo_1.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_cover_photo_2(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_cover_photo_2(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_cover_photo_2(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_cover_photo_2(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_cover_photo_2(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_cover_photo_2(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_cover_photo_2.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_profile_image(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_profile_image(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_profile_image(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_profile_image(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_profile_image(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_profile_image(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/facebook_profile_image.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/favicon(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/favicon(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/favicon(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/favicon(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/favicon(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/favicon(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/favicon.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/instagram_profile_image(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/instagram_profile_image(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/instagram_profile_image(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/instagram_profile_image(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/instagram_profile_image(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/instagram_profile_image(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/instagram_profile_image.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_banner_image_1(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_banner_image_1(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_banner_image_1(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_banner_image_1(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_banner_image_1(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_banner_image_1(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_banner_image_1.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_banner_image_2(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_banner_image_2(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_banner_image_2(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_banner_image_2(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_banner_image_2(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_banner_image_2(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_banner_image_2.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_profile_image(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_profile_image(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_profile_image(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_profile_image(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_profile_image(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_profile_image(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/linkedin_profile_image.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/logo(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/logo(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/logo(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/logo(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/logo(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/logo(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/logo.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/logo_transparent(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/logo_transparent(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/logo_transparent(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/logo_transparent(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/logo_transparent(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/logo_transparent(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/logo_transparent.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/pinterest_board_photo(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/pinterest_board_photo(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/pinterest_board_photo(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/pinterest_board_photo(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/pinterest_board_photo(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/pinterest_board_photo(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/pinterest_board_photo.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/pinterest_profile_image(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/pinterest_profile_image(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/pinterest_profile_image(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/pinterest_profile_image(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/pinterest_profile_image(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/pinterest_profile_image(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/pinterest_profile_image.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_header_photo_1(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_header_photo_1(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_header_photo_1(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_header_photo_1(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_header_photo_1(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_header_photo_1(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_header_photo_1.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_header_photo_2(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_header_photo_2(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_header_photo_2(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_header_photo_2(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_header_photo_2(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_header_photo_2(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_header_photo_2.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_profile_image(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_profile_image(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_profile_image(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_profile_image(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_profile_image(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_profile_image(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/twitter_profile_image.png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/youtube_profile_image(1).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/youtube_profile_image(2).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/youtube_profile_image(3).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/youtube_profile_image(4).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/youtube_profile_image(5).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/youtube_profile_image(6).png
OpsMoi/bin/Debug/Resources/New folder/HatchfulExport-All(1)/youtube_profile_image.png
OpsMoi/Properties/
OpsMoi/Resources/
OpsMoi/obj/
OpsMoi/bkup/
OpsMoi/packages.config
.editorconfig
.editorconfig.inferred
neuK.ppk
Notes.txt
nuget.config
packages.config
peuK.ppka
OpsMoi/avatar.ico
OpsMoi/FodyWeavers.xml
OpsMoi/FodyWeavers.xsd
OpsMoi/nuget.config
new.ppk
newa
OpsMoi/opsmoidb\[Original\].db
OpsMoi/bin/Debug/Resources/opsmoidb.db
OpsMoi/MaterialWinforms-master.zip
OpsMoi/NetWinformControl-master.zip
TimeLine.UserControl-master/
.vs/
DailyCompanionV2/bin/
DailyCompanionV2/obj/
DailyCompanionV2/Properties/
DailyCompanionV2/FodyWeavers.xml
DailyCompanionV2/FodyWeavers.xsd
OpsMoi.sln
OpsMoi.sln
